@use '/src/common/styles/variables' as var;
@use '/src/common/styles/templates';

.container{  
  padding: 1rem 1.5rem;
  text-align: start;  

}
.itemWrapper{
  display: flex;   
  padding: 0.5rem;
  border-bottom: 1px solid var.$formBorderColor;
}
.item{
  max-width: 65%;
}
.condition{
  margin-left: auto;
  text-align: center;
  line-height: 2.5rem;
  vertical-align: middle;
  border: 1px solid rgb(67, 114, 67);
  background-color: rgb(81, 121, 81);
  @extend %buttons;
}
.delete{
  @extend %buttons;
}