@use './variables' as var;
%buttons{
  height: 2.5rem;
  width: 4rem;
  background-color: var.$headerBgColor;
  font-size: 1.1rem;
  color: var.$headerColor;
  cursor: pointer;
  &:hover{
    border: 1px solid var.$formBorderColor;
    background-color: #ababf0ec;
    color: rgb(10, 20, 10);
  }
}
